<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="READDATA" value="11001"/>
    <add key="CM-READ" value="11002"/>
    <add key="DefaultReader" value="Polar"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ReaderComponentService.ComponentManagerServer" >
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/ReaderComponentService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8733/ReaderComponentService" binding="netTcpBinding" contract="ReaderComponentService.IComponentManager"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
